In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,classification_report

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df=df.drop("User ID",axis=1)

In [5]:
df.nunique()

Gender               2
Age                 43
EstimatedSalary    117
Purchased            2
dtype: int64

In [6]:
df=pd.get_dummies(df)

In [7]:
np.float="float64"

In [8]:
x=df.drop('Purchased',axis=1)
y=df['Purchased']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)
model=KNeighborsClassifier(n_neighbors=3)
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(accuracy_score(y_test,y_pred))

0.85

In [31]:
for i in range(1,21):
    model=KNeighborsClassifier(n_neighbors=i)
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print(accuracy_score(y_test,y_pred),i)

0.85 1
0.825 2
0.85 3
0.8 4
0.85 5
0.7875 6
0.875 7
0.85 8
0.85 9
0.8625 10
0.8625 11
0.85 12
0.8375 13
0.825 14
0.825 15
0.8125 16
0.825 17
0.825 18
0.85 19
0.825 20

In [9]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [10]:
actual=[10,10,10,9,10,10,10,9,10,10]
predict=[10,10,10,10,9,9,10,10,10,10]

In [11]:
accuracy_score(actual,predict)

0.6

In [29]:
x=confusion_matrix (actual,predict)
x

array([[0, 2],
       [2, 6]], dtype=int64)

In [27]:
print(classification_report(actual,predict))

              precision    recall  f1-score   support

           9       0.00      0.00      0.00         2
          10       0.75      0.75      0.75         8

    accuracy                           0.60        10
   macro avg       0.38      0.38      0.38        10
weighted avg       0.60      0.60      0.60        10

In [44]:
TP=x[0,0]
FN=x[0,1]
FP=x[1,0]
TN=x[1,1]
accuracy_score=(TP+TN)/(TP+TN+FP+FN)
print(accuracy_score)
precision=TP/(TP+FP)
print(precision)
recall=TP/(TP+FN)#recall or sensitivity
print(recall)
specificity=TN/(FP+TN)
print(specificity)
f1_score=2*(precision*recall)/(precision+recall)
print(f1_score)

0.6
0.0
0.0
0.75
nan

<ipython-input-44-f245844f33be>:13: RuntimeWarning: invalid value encountered in double_scalars
  f1_score=2*(precision*recall)/(precision+recall)

In [43]:
y=confusion_matrix (actual,predict,labels=[10,9])
TP=y[0,0]
FN=y[0,1]
FP=y[1,0]
TN=y[1,1]
accuracy_score=(TP+TN)/(TP+TN+FP+FN)
print(accuracy_score)
precision=TP/(TP+FP)
print(precision)
recall=TP/(TP+FN)#recall or sensitivity
print(recall)
specificity=TN/(FP+TN)
print(specificity)
f1_score=2*(precision*recall)/(precision+recall)
print(f1_score)

0.6
0.75
0.75
0.0
0.75